@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h1>Welcome to My Portfolio</h1>
    <p>I'm Meshack Mthimkhulu, a DevOps Engineer passionate about cloud infrastructure and automation.</p>
    <a href="/Home/About" class="btn btn-primary">Learn More</a>
</div>
